<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/bg-styles.css">
    <title>{% block title %} {% endblock%}</title>
    {% block styles %} {% endblock%}
</head>

<body>
    <nav class="navbar">
        <div class="brand-title">EDU-GO</div>

        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>


        <div class="navbar-links">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="">My Profile</a></li>
                <li><a href="/feeds">Feeds</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="circle"></div>

    <div class="collapse-link">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="">My Profile</a></li>
            <li><a href="/feeds">Feeds</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>

    </div>



    {% with messages = get_flashed_messages(with_categories=true) %}

    {% if messages %}
    {% for message in messages %}
    <script>

        alert("error");

    </script>
    {% endfor %}
    {% endif %}

    {%endwith%}



    <div class="main-content">

        {%block content%} {% endblock%}
    </div>

    <script src="static/js/main.js"></script>


    <script>
        function myalert(message) {
            alert(message);
        }
    </script>


</body>

</html>